<mat-card>
    <mat-card-content>
        <h2>{{title |titlecase }}</h2>
        <div class="backButtons">
            <button *ngIf="lastUrl" (click)="changeUrl('https://anapioficeandfire.com/api')" class="back">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button *ngIf="lastUrl" (click)="changeUrl(lastUrl)" class="back">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <div *ngIf=initialPosts>
            <div *ngFor="let item of initialPosts | keyvalue">
                <div *ngIf="isUrl(item.value); else withoutbutton">
                    <span style="font-weight: bold;">
                        {{item.key}} </span>
                    <button (click)="changeUrl(item.value)">
                        {{item.value}}
                    </button>
                </div>
                <ng-template #withoutbutton>
                    <span style="font-weight: bold;">
                        {{item.key}} </span>
                    <div *ngIf="isArray(item.value); else notArray" >
                        <span *ngFor="let element of item.value" >
                            <a (click)="changeUrl(element)" *ngIf="isUrl(element);" class="link">
                                {{getLastPartOfUrl(element)}}
                            </a>
                        </span>
                    </div>
                    <ng-template #notArray>
                        <span>
                            {{item.value}}
                        </span>
                    </ng-template>

                </ng-template>

            </div>
        </div>
        <div *ngIf=posts>
            <div *ngFor="let item of posts">
                <div *ngFor="let o of item | keyvalue">
                    <div *ngIf="o.key === 'name'">
                        <span style="font-weight: bold;">
                            {{o.value}}
                        </span>
                    </div>
                    <div *ngIf="o.key === 'url'">
                        <button (click)="changeUrl(o.value)">
                            More Information
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>